* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    background: #f4f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
}

 img {
    display: block;
    margin: 0 auto 30px auto;
    width: 130px;
    object-fit: contain;
    transition: 0.3s ease;
}

 img:hover {
    transform: scale(1.05);
}

/* CARD */
.card {
    width: 400px;
    padding: 45px 40px;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.4s ease-in-out;
}

/* TÍTULO */
.card h1 {
    text-align: center;
    margin-bottom: 35px;
    color: #1e293b;
    font-weight: 600;
    font-size: 22px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 13px;
    margin-bottom: 6px;
    color: #475569;
}

input {
    padding: 12px 14px;
    margin-bottom: 22px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    background: #f8fafc;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #2563eb;
    background: #ffffff;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
    outline: none;
}

/* BOTÃO */
button {
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
    background: darkblue;
}

/* ANIMAÇÃO */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

hr {
    border: none;
    height: 1px;
    background: #e2e8f0;
    margin: 15px 0;
}

.forgot {
    text-align: center;
    font-size: 13px;
    color: #2563eb;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

.forgot:hover {
    text-decoration: underline;
    color: #1d4ed8;
}

.btn-instalar{
    padding:12px 18px;
    border:none;
    border-radius:10px;

    background: linear-gradient(135deg,#2563eb,#3b82f6);
    color:white;

    font-weight:600;
    font-size:14px;

    cursor:pointer;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);

    transition:all .25s ease;
}

.btn-instalar:hover{
    transform:translateY(-2px);
    background:#1d4ed8;
}